<template>
  <v-container>
    <v-row justify="center">
      <v-col rows="12" md="8">
        <v-card elevation="0">
          <v-card-title class="justify-center">
            Home
          </v-card-title>
          <v-img
            :max-width="800"
            :max-height="600"
            src="@/assets/logo.svg"
            class="mx-auto mb-6" />
          <!-- eslint-disable vue/no-v-html -->
          <v-card-text v-html="content" />
          <v-card-text class="text-center">
            Borna Burazer
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from '@/api/loremipsum';
import { sanitize } from 'dompurify';

const ERROR_MESSAGE = 'Content is not currently available.';

export default {
  name: 'AppHome',
  data: () => ({
    content: ''
  }),
  async mounted() {
    try {
      const { data } = await api.getLoremIpsumHtml();
      this.content = sanitize(data);
    } catch {
      this.content = ERROR_MESSAGE;
    }
  }
};
</script>

<style lang="scss" scoped>
::v-deep p {
  font-size: 1.2em;
  text-align: justify;
}

::v-deep h1,
::v-deep h2,
::v-deep p,
::v-deep blockquote,
::v-deep ul,
::v-deep ol,
::v-deep dl {
  margin: 0.7em 0;
}
</style>
