<template>
  <v-app-bar
    color="primary"
    dark
    app>
    <v-tabs>
      <v-tab
        v-for="{ label, route } in navItems"
        :key="route"
        :to="{ name: route }">
        <span>{{ label }}</span>
      </v-tab>
    </v-tabs>
  </v-app-bar>
</template>

<script>
const navItems = [
  { route: 'home', label: 'Home' },
  { route: 'contact', label: 'Contact' }
];

export default {
  name: 'AppHeader',
  computed: {
    navItems: _ => navItems
  }
};
</script>
