<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col rows="12" md="6">
        <v-card elevation="0">
          <v-card-title class="justify-center">
            Contact us
          </v-card-title>
          <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
              <validation-provider
                v-slot="{ errors }"
                name="Email"
                rules="required|email">
                <v-text-field
                  v-model="email"
                  :error-messages="errors"
                  label="Email" />
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="Message"
                rules="required|max:30">
                <v-textarea
                  v-model="message"
                  :error-messages="errors"
                  label="Message" />
              </validation-provider>
              <div>
                {{ response }}
              </div>
              <div class="d-flex justify-end">
                <v-btn :disabled="invalid" type="submit" class="text-right">
                  Submit
                </v-btn>
              </div>
            </form>
          </validation-observer>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from '@/api';
import first from 'lodash/first';

export default {
  name: 'AppContact',
  data: () => ({
    email: '',
    message: '',
    response: ''
  }),
  methods: {
    submit() {
      const { email, message } = this;
      return api.contact({ email, message })
        .then(res => (this.response = res.data.message))
        .catch(res => (this.response = first(res.response.data.errors)));
    }
  }
};
</script>
